body {
    margin: 0px; 
}

header {
    background-color: yellow;
    height: 150px;
}

a {
    text-decoration: none;
    color: black;
}

.logo {
    width: 200px;
}

.productos-header {
    position: absolute;
    top: 10.5%;
    right: 39%;
}

.header-nav {
    position: absolute;
    right: 4%;
    top: 10%;
}

.opiniones {
    position: absolute;
    right: 24%;
    top: 10.5%;
}

.footer-nav ul {
    list-style: none;
}

.footer-nav h2 { 
    margin-left: 5%;
}